---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Writing">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Writing"
      description="Hey there, wanderer of the internet! 🎉 Welcome to the place where your procrastination finally pays off. Dive into this blog and let the wisdom of the ages (or at least the mildly interesting ramblings of yours truly) enlighten your day."
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
